
:root {
    --accent-color: #9ba06e;
    --base-color: white;
    --text-color: #555742;
    --input-color: #d2d5b0;

}

* {
    margin: 0;
    padding: 0;
}

.body {
    min-height: 100vh;
    background-size: 1000px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background: url( Image/register.webp) no-repeat center right/cover;
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 100vh;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1 {
    font-size: 2.3rem;
    font-weight: 1000;
    text-transform: uppercase;

}

form {
    width: min(400px, 100%);
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

form>div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1rem;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border-left: none;
    border: none;
    border: 2px solid var(--input-color);

    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover {
    border-color: var(--accent-color);

}

form input:focus {
    outline: none;

}

div:has(input:focus)>label {
    background-color: var(--text-color);
}

form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}

form button:hover {
    background-color: var(--text-color);
}

form button:focus {
    outline: none;
    background-color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}

.incorrect {
    border: 2px solid red; 
    border-radius: 10px 10px 10px 10px;

}

form div.incorrect label{
    background-color: red;
    font-weight: bold;

}

form div.incorrect input{
    border-color: red;
    font-weight: bold;

}
/* #error-message{
    color: red;
    font-weight: bold;

} */
/* #success-message{
    color: green;
    font-weight: bold;} */

    #success-message {
    color: green;
    margin-bottom: 10px;
    display: none;
}

#error-message {
    margin-bottom: 10px;
    display: none;
    color: red;
    font-weight: bold;

}
